<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="root">
    <h2>人员列表</h2>
    <ul>
        <!--在用v-for时，必须要为每一个值添加一个不重复的主键，用:key="p.id"动态绑定-->
        <!--遍历数组-->
        <li v-for="(p,index) in persons" :key="p.id">
            {{p.name}}-{{p.age}}-{{index}}
        </li>
    </ul>

    <h2>汽车信息</h2>
    <ul>
        <!--遍历对象-->
        <li v-for="(value,key) in car" :key="key">
            {{value}}-{{key}}
        </li>
    </ul>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    new Vue({
        el:"#root",
        data: {
            persons:[
                {id:"001",name:"张三",age:18},
                {id:"002",name:"张四",age:19},
                {id:"003",name:"张五",age:20},
            ],
            car:{
                name:"volvo",
                price:50,
                color:"write"
            }
        }
    })
</script>
</html>